{% extends "hot/hot.html" %}

{% block core %}
	<div class="blog-post">
		<h2 class="blog-post-title">CIO BTIT热招多语种Mac技术支持</h2>
		<hr>
			<p>
			CIO BTIT是负责驱动和组织IBM业务转型的重要部门，是隶属于IBM总部的一个全球性组织。 当前，IBM各个部门都在向CAMSS （Cloud, Analytics, Mobile, Social and Security)转型，这正是CIO BT/IT来帮助实现其系统的转型。从IBM云服务的销售平台到每个销售人员手中的移动端应用，从基于大数据的销售决策系统到整合社交数据的市场营销方案，CIO的服务遍布每个部门。
			</p>
			<p>
			Mac@IBM - 作为IBM和Apple联盟的一部分，越来越多的IBM员工将使用MacBooks和iPads。我们将在CIO组织下组建一个为整个亚洲IBM员工提供MacBooks和iPads技术支持的团队，期待您的加入，赢取上千元奖金！
			</p>
	</div>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Title</th>
						<th>Location</th>
						<th>Band</th>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBErKZ1eU6" target="_blank">
								Mac@IBM Apple Advisor
							</a>
						</td>
						<td>BJ</td>
						<td>6</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}