{% extends "hot/hot.html" %}

{% block core %}
	<div class="blog-post">
		<h2 class="blog-post-title">Digital Sales大量销售职位热招中</h2>
		<hr>
			<p>
			IBM Digital Sales 是IBM的销售中心。 在这里汇聚了来自IBM各个产品线的专业销售团队。 他们在各自的销售领域和行业中， 通过运用各种有效的社交平台和采用不同的新媒体方式与客户建立联系，从而发现新客户， 寻找潜在的商机并完成交易。IBM Digital Sales 是IBM的业绩增长的重要引擎。快来加入Digital Sales吧！
			</p>
	</div>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Title</th>
						<th>Location</th>
						<th>Language</th>
						<th>Band</th>
						<th>Bonus</th>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE4A91eWE" target="_blank">
								Inside Sales (for HK, Cantonese Speaking)
							</a>
						</td>
						<td>SZ</td>
						<td>CN/EN</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEjEQ1eWH" target="_blank">
								Hadoop Sales
							</a>
						</td>
						<td>GZ/SZ</td>
						<td>CN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEsPq1eWB" target="_blank">
								Hadoop Client Technical Specialist
							</a>
						</td>
						<td>GZ/SZ</td>
						<td>CN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEVZE1eWJ" target="_blank">
								Mac@IBM Apple Advisor (Thai/Indonesian/Vietnamese  Speaking)
							</a>
						</td>
						<td>BJ/SZ</td>
						<td>CN</td>
						<td>6</td>
						<td>1250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEc0C1eWL" target="_blank">
								Senior Client Representative (for Banking)
							</a>
						</td>
						<td>GZ</td>
						<td>CN</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEsP.1eWM" target="_blank">
								Senior Client Representative (for Banking)
							</a>
						</td>
						<td>SZ</td>
						<td>CN</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEr-61eWO" target="_blank">
								OpenPower Client Technical Specialist
							</a>
						</td>
						<td>GZ/SZ</td>
						<td>CN/EN</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEicr1eWQ" target="_blank">
								Client Technical Specialist
							</a>
						</td>
						<td>CD</td>
						<td>CN/EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEJfR1eWX" target="_blank">
								Senior Sales Specialist
							</a>
						</td>
						<td>BJ/SH</td>
						<td>CN/EN</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE8RB1eWa" target="_blank">
								Senior Sales Specialist
							</a>
						</td>
						<td>BJ/SH</td>
						<td>CN/EN</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEdcT1eWb" target="_blank">
								Marketing Solution Sales
							</a>
						</td>
						<td>SH/GZ/SZ</td>
						<td>CN/EN</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBED351eWe" target="_blank">
								Analytics Client Architect
							</a>
						</td>
						<td>CD</td>
						<td>CN/EN</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEObQ1eWl" target="_blank">
								Advisory Client Representative
							</a>
						</td>
						<td>SH</td>
						<td>CN/EN</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEfmI1eWv" target="_blank">
								Big data senior sales
							</a>
						</td>
						<td>SH</td>
						<td>CN/EN</td>
						<td>8</td>
						<td>3500</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}