{% extends "hot/hot.html" %}

{% block core %}
	<div class="blog-post">
		<h2 class="blog-post-title">Digital Sales大量销售职位热招中</h2>
		<hr>
			<p>
			IBM Digital Sales 是IBM的销售中心。 在这里汇聚了来自IBM各个产品线的专业销售团队。 他们在各自的销售领域和行业中， 通过运用各种有效的社交平台和采用不同的新媒体方式与客户建立联系，从而发现新客户， 寻找潜在的商机并完成交易。IBM Digital Sales 是IBM的业绩增长的重要引擎。快来加入Digital Sales吧！
			</p>
	</div>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Title</th>
						<th>Location</th>
						<th>Language</th>
						<th>Band</th>
						<th>Bonus</th>
					</tr>
					<tr>
						<td>Hadoop Sales</td>
						<td>GZ/SZ</td>
						<td>CN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Hadoop Client Technical Specialist</td>
						<td>GZ/SZ</td>
						<td>CN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Mac@IBM Apple Advisor (Thai/Indonesian/Vietnamese  Speaking)</td>
						<td>BJ/SZ</td>
						<td>CN</td>
						<td>6</td>
						<td>1250</td>
					</tr>
					<tr>
						<td>Senior Client Representative (for Banking) </td>
						<td>GZ</td>
						<td>CN</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>Senior Client Representative (for Banking) </td>
						<td>SZ</td>
						<td>CN</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>OpenPower Client Technical Specialist</td>
						<td>GZ/SZ</td>
						<td>CN/EN</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>Senior Client Rep (for banking accounts)</td>
						<td>GZ</td>
						<td>CN/EN</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>Manager of Software Client Leader</td>
						<td>XA</td>
						<td>CN/EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Client Technical Specialist </td>
						<td>CD</td>
						<td>CN/EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Senior Sales Specialist</td>
						<td>BJ/SH</td>
						<td>CN/EN</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>Senior Sales Specialist</td>
						<td>BJ/SH</td>
						<td>CN/EN</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>Marketing Solution Sales</td>
						<td>SH/GZ/SZ</td>
						<td>CN/EN</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>Analytics Client Architect</td>
						<td>CD</td>
						<td>CN/EN</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>Advisory Client Representative</td>
						<td>SH</td>
						<td>CN/EN</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>Commerce Solution Sales</td>
						<td>SH</td>
						<td>CN/EN</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>Big data senior sales</td>
						<td>SH</td>
						<td>CN/EN</td>
						<td>8</td>
						<td>3500</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}