{% extends "hot/hot.html" %}

{% block core %}
	<div class="blog-post">
		<h2 class="blog-post-title">One GBS BA&S、iX&M 招贤纳士</h2>
		<hr>
			<p>
			GCG One GBS是GCG市场上规模最大、竞争力最强的咨询团队，于2015年7月由IBM大中华区全球企业咨询服务部及IBM中国客户创新中心整合而来。整合后的One GBS组织具有更强的行业销售、咨询和服务执行能力。
			</p>
	</div>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Title</th>
						<th>Location</th>
						<th>Language</th>
						<th>Band</th>
						<th>Bonus</th>
					</tr>
					<tr>
						<td>Web - Application Developer: Java & J2EE - English</td>
						<td>DL</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer-Java-Japanese</td>
						<td>Any</td>
						<td>JP</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>Application Developer-Java-Insurance-English</td>
						<td>SH</td>
						<td>EN</td>
						<td>6-8</td>
						<td>1250-3500</td>
					</tr>
					<tr>
						<td>Application Developer: J2EE,SOA,ESB - English</td>
						<td>Any</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer - C - English</td>
						<td>SZ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer - C - Japanese</td>
						<td>SH</td>
						<td>JP</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Application developer - Shell - Japanese</td>
						<td>SH</td>
						<td>JP</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer - UNIX - English</td>
						<td>SZ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer: COBOL - English</td>
						<td>SZ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer: COBOL - English</td>
						<td>SH</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer: COBOL - Japanese</td>
						<td>SH</td>
						<td>JP</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer - C#.Net - English</td>
						<td>DL</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer - C#.Net - English</td>
						<td>NJ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer - Dynamics CRM - Japanese</td>
						<td>DL</td>
						<td>JP</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer - VB.NET - English</td>
						<td>SZ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer - VB.NET - English</td>
						<td>SZ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer - VB.NET - English</td>
						<td>BJ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer - VB.NET - Japanese</td>
						<td>DL</td>
						<td>JP</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package Oracle - Application Developer: Oracle Applications- English </td>
						<td>Any</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package Solution Consultant: Oracle Financials/Manufacturing/Procure to Pay/ Order to Cash Consultant - English</td>
						<td>Any</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer - Mobile</td>
						<td>SH/SZ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer/Consultant/Architect - Mobile</td>
						<td>SH/SZ/BJ</td>
						<td>EN/JP</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Package Solution Consultant - Salesforce</td>
						<td>SH</td>
						<td>EN/JP</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Security & Privacy Consultant</td>
						<td>SH/SZ/BJ/CD/DL</td>
						<td>EN/JP</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>Application Developer-AS400 RPG_Dalian_Japanese</td>
						<td>DL</td>
						<td>JP</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Application Developer-C/C++</td>
						<td>DL</td>
						<td>JP</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Database Aministrator-DB2 DBA</td>
						<td>Any</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-4000</td>
					</tr>
					<tr>
						<td>Database Aministrator-DB2- Japanses</td>
						<td>Any</td>
						<td>JP</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Database Aministrator-Oracle Application/DB2</td>
						<td>Any</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Database Aministrator-Oracle DBA</td>
						<td>SZ/SH</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Database Aministrator-SQL - need travel</td>
						<td>Any</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Information Architect - RTC</td>
						<td>SH</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3750</td>
					</tr>
					<tr>
						<td>Mainframe - Application Developer: COBOL - Japanese</td>
						<td>DL</td>
						<td>JP</td>
						<td>7-8</td>
						<td>2250-3750</td>
					</tr>
					<tr>
						<td>Auto Insurance Business Analyst</td>
						<td>SH</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Business Analyst--- SAP Retail/ Oracle Retek</td>
						<td>SH</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Industry Consultant--- Industries/Service Lines Solutioning</td>
						<td>DL</td>
						<td>EN/JP</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Industry Consultant--- Solution I&XM Consultant</td>
						<td>CD/DL/SH</td>
						<td>EN/JP</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Package Solution Consultant-- FpML</td>
						<td>Any</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Package Solution Consultant-- Murex</td>
						<td>Any</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Web - Application Developer: Java & J2EE - English</td>
						<td>SZ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Web - Application Developer: C# .NET - English</td>
						<td>SH</td>
						<td>EN/JP</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Web - Application Developer: Java - Japanese</td>
						<td>DL</td>
						<td>JP</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Web - Application Developer: Java & J2EE - English</td>
						<td>SH</td>
						<td>EN</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>Web-Application Developer: JAVA - Korean</td>
						<td>DL</td>
						<td>KR</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>eCommerce Solution Architect - Sterling Order Management</td>
						<td>Any</td>
						<td>CN/EN</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>Salesforce Package Solution Development - Japanese/English</td>
						<td>SH/DL</td>
						<td>CN/EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Unica Package Solution Consultant</td>
						<td>Any</td>
						<td>CN/EN</td>
						<td>7-9</td>
						<td>2250-5000</td>
					</tr>
					<tr>
						<td>Application Architect-SAP Mobility</td>
						<td>Any</td>
						<td>CN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Architect Consultant</td>
						<td>Any</td>
						<td>CN</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>Management Accounting Expert (Oracle)</td>
						<td>Any</td>
						<td>CN</td>
						<td>8-9</td>
						<td>3500-5000</td>
					</tr>
					<tr>
						<td>Package SAP - Application Developer -SAP .ABAP - English</td>
						<td>Any</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Package SAP - Application Developer -SAP.Hybris - English</td>
						<td>Any</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Package SAP - Application Architect - SAP Security - English</td>
						<td>Any</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package SAP - Application Architect -SAP. Basis - English</td>
						<td>BJ/SH/SZ</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Package SAP - Application Developer -SAP.ABAP - Korean</td>
						<td>DL</td>
						<td>KR</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package SAP - Application Developer -SAP.ABAP - Korean</td>
						<td>DL</td>
						<td>KR</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package SAP - Application Developer -SAP.BO - Japanese</td>
						<td>DL</td>
						<td>JP</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package SAP - Application Developer -SAP.BW - Korean</td>
						<td>DL</td>
						<td>KR</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package SAP - Package Solution Consultant: SAP. CRM - English</td>
						<td>Any</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Package SAP - Package Solution Consultant: SAP. HR - English</td>
						<td>SH</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package SAP - Package Solution Consultant: SAP. MM/PP - Japanese</td>
						<td>Any</td>
						<td>JP</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Package SAP - Package Solution Consultant: SAP. TM - English</td>
						<td>Any</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Package SAP - Package Solution Consultant: SAP.MM - English</td>
						<td>SH</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Package SAP - Package Solution Consultant: SAP.PP - English</td>
						<td>SH</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Package SAP - Package Solution Consultant: SAP.PS - English</td>
						<td>Any</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Application Consultant-WebMethods</td>
						<td>SH</td>
						<td>EN</td>
						<td>6-7</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Database Administrator-Oracle</td>
						<td>SZ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Database Administrator-Oracle Japan onsite</td>
						<td>SH/SZ/BJ/CD/DL</td>
						<td>EN</td>
						<td>6-7</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Database Administrator-PeopleSoft</td>
						<td>SH/SZ/BJ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Oracle Business Proces Management Consultant</td>
						<td>SH/SZ/BJ/CD/DL</td>
						<td>EN</td>
						<td>6-7</td>
						<td>2500-4500</td>
					</tr>
					<tr>
						<td>Package Oracle - Application Developer: JDE - English/Japanese</td>
						<td>SH/DL</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package Oracle - Application Developer:- OBIEE- English</td>
						<td>SH/SZ/BJ/CD/DL</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package Oracle - Application Developer: Oracle Applications - Japanese</td>
						<td>SH/DL</td>
						<td>JP</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package Oracle - Application Developer: Oracle Applications- English</td>
						<td>SH/SZ/BJ/DL</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package Oracle - Application Developer:- Retek - English</td>
						<td>SH/SZ/BJ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>2500-4500</td>
					</tr>
					<tr>
						<td>Package Oracle - Package Solution Consultant: Oracle Financial/Distribution- English&Korean</td>
						<td>SH/SZ/BJ/CD/DL</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2500-4500</td>
					</tr>
					<tr>
						<td>Package Oracle - Package Solution Consultant: Oracle Financial/Distribution/Manufacture Consultant - English</td>
						<td>SH/SZ/BJ</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Package Oracle - Package Solution Consultant: Oracle.Financials/Distribution/Manufacturing - Japanese</td>
						<td>SH/DL</td>
						<td>JP</td>
						<td>6-7</td>
						<td>2500-4500</td>
					</tr>
					<tr>
						<td>Package Solution Consultant - PeopleSoft (HongKong Landed)</td>
						<td>SH/SZ/BJ/CD/DL</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2500-4500</td>
					</tr>
					<tr>
						<td>Package Solution Consultant-Fusion HCM-English</td>
						<td>SH/SZ/BJ/CD/DL</td>
						<td>EN</td>
						<td>6-7</td>
						<td>2500-4500</td>
					</tr>
					<tr>
						<td>Package Solution Consultant-Oracle Advanced Procurement</td>
						<td>SH</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Package Solution Consultant-Oracle ATG</td>
						<td>DL/CD/SH/BJ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package Solution Consultant-Oracle Endeca</td>
						<td>DL/CD/SH/BJ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package Solution Consultant-Oracle SOA</td>
						<td>SH/SZ/BJ/CD/DL</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package Solution Consultant-Oracle Taleo</td>
						<td>SH/SZ/BJ/CD/DL</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package Solution Consultant-PeopleSoft CRM</td>
						<td>SH/SZ/BJ/CD/DL</td>
						<td>EN</td>
						<td>6-7</td>
						<td>2500-4500</td>
					</tr>
					<tr>
						<td>Package Solution Consultant-PeopleSoft.HR</td>
						<td>SH/DL/SZ/BJ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package Solution Consultant-PeopleSoft.Payroll</td>
						<td>SH/DL/SZ/BJ</td>
						<td>EN</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>Package Solution Consultant-Siebel-English</td>
						<td>SH/SZ/BJ/CD/DL</td>
						<td>EN</td>
						<td>6-7</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Application Developer - Dynamics CRM - English/Japanese</td>
						<td>BJ/DL/SH</td>
						<td>EN</td>
						<td>7-8</td>
						<td>2250-3750</td>
					</tr>
					<tr>
						<td>Financial Transformation Consultant</td>
						<td>BJ/SH</td>
						<td>CN/EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Risk Management Consultant</td>
						<td>BJ/SH</td>
						<td>CN/EN</td>
						<td>8-9</td>
						<td>3500-5000</td>
					</tr>
					<tr>
						<td>Strategy Consultant - Sales Operations</td>
						<td>BJ/SH</td>
						<td>CN/EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Strategy Consultant - Sales&Marketing Organization</td>
						<td>BJ/SH</td>
						<td>CN/EN</td>
						<td>9</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Strategy Consultant - Supply Chain</td>
						<td>BJ/SH</td>
						<td>CN/EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Strategy Consultant - Sales&Channle Operations</td>
						<td>BJ/SH</td>
						<td>CN/EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Industry Consultant - Insurance</td>
						<td>BJ/SH/SZ/GZ</td>
						<td>CN/EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Cognitive Computing Consultant</td>
						<td>BJ/SH/SZ/GZ</td>
						<td>CN/EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>BI Consultant</td>
						<td>BJ/SH/SZ/GZ</td>
						<td>CN/EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Data Goverance Consultant</td>
						<td>BJ/SH/SZ/GZ</td>
						<td>CN/EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Big Data Consultant</td>
						<td>BJ/SH/SZ/GZ</td>
						<td>CN/EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Data Architect</td>
						<td>BJ/SH/SZ/GZ</td>
						<td>CN/EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}