{% extends "hot/hot.html" %}

{% block core %}
	<div class="blog-post">
		<h2 class="blog-post-title">One GBS BA&S、iX&M 招贤纳士</h2>
		<hr>
			<p>
			GCG One GBS是GCG市场上规模最大、竞争力最强的咨询团队，于2015年7月由IBM大中华区全球企业咨询服务部及IBM中国客户创新中心整合而来。整合后的One GBS组织具有更强的行业销售、咨询和服务执行能力。
			</p>
	</div>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Title</th>
						<th>Location</th>
						<th>Band</th>
						<th>Bonus</th>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEIDT1oSz" target="_blank">
								Business Transformation Consultant
							</a>
						</td>
						<td>BJ/SH</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEZF31oT3" target="_blank">
								Strategy and Transformation Consultant- Risk Management
							</a>
						</td>
						<td>BJ/SH</td>
						<td>8-9</td>
						<td>3500-5000</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE-Fh1fNu" target="_blank">
								Strategy Consultant - Sales Operations
							</a>
						</td>
						<td>BJ/SH</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEu5e1fNw" target="_blank">
								Strategy Consultant - Organization Change
							</a>
						</td>
						<td>BJ/SH</td>
						<td>9</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEJOg1fNx" target="_blank">
								Strategy Consultant - Supply Chain
							</a>
						</td>
						<td>BJ/SH</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEUXq1fNy" target="_blank">
								Strategy Consultant - Sales&Channle Operations
							</a>
						</td>
						<td>BJ/SH</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBElwQ1fNz" target="_blank">
								Managing Industry Consultant - Insurance
							</a>
						</td>
						<td>BJ/SH/SZ/GZ</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBElzF1fO2" target="_blank">
								Application Consultant - Cognitive Computing
							</a>
						</td>
						<td>BJ/SH/SZ/GZ</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEfT31fO3" target="_blank">
								Application Consultant - BI Consultant
							</a>
						</td>
						<td>BJ/SH/SZ/GZ</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEmfG1fO4" target="_blank">
								Data Goverance Consultant
							</a>
						</td>
						<td>BJ/SH/SZ/GZ</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE7dI1fO6" target="_blank">
								Application Consultant - Big Data
							</a>
						</td>
						<td>BJ/SH/SZ/GZ</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEcIq1fO7" target="_blank">
								Application Consultant - Data Architect
							</a>
						</td>
						<td>BJ/SH/SZ/GZ</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEUXU1fO8" target="_blank">
								Senior Strategy Consultant - PLM
							</a>
						</td>
						<td>BJ/SH/SZ/GZ</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE1XH1fOB" target="_blank">
								Strategy and Transformation Consultant - Business Strategy
							</a>
						</td>
						<td>BJ/SH/SZ/GZ</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}