{% extends "hot/hot.html" %}

{% block core %}
	<div class="blog-post">
		<h2 class="blog-post-title">GIE</h2>
		<hr>
	</div>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Title</th>
						<th>Location</th>
						<th>Band</th>
						<th>Bonus</th>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEl7R1fOl" target="_blank">
								Incentive Analyst
							</a>
						</td>
						<td>BJ</td>
						<td>4-6</td>
						<td>750-1250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEEG_1fOm" target="_blank">
								Security Specialist
							</a>
						</td>
						<td>BJ</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEN9R1fOn" target="_blank">
								Sales Coverage & Transformation(SC&T) Brand Advisor
							</a>
						</td>
						<td>BJ</td>
						<td>6</td>
						<td>1250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEU8b1fOr" target="_blank">
								Project Specialist
							</a>
						</td>
						<td>BJ</td>
						<td>6</td>
						<td>1250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE3tZ1fOs" target="_blank">
								Solution Contract Manager
							</a>
						</td>
						<td>BJ</td>
						<td>6</td>
						<td>1250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEyKu1fOu" target="_blank">
								Event Specialist - Japanese Speaking
							</a>
						</td>
						<td>BJ</td>
						<td>6</td>
						<td>1250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEpQ21fOv" target="_blank">
								Digital Commerce Specialist - Korean Speaking
							</a>
						</td>
						<td>BJ</td>
						<td>6</td>
						<td>1250</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}