{% extends "hot/hot.html" %}

{% block core %}
	<div class="blog-post">
		<h2 class="blog-post-title">GIE</h2>
		<hr>
	</div>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Title</th>
						<th>Location</th>
						<th>Band</th>
						<th>Bonus</th>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEfKA1lOd" target="_blank">
								Sales Coverage & Transformation(SC&T) Brand Advisor
							</a>
						</td>
						<td>BJ</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEJQr1oTF" target="_blank">
								Payroll HR Service Administrator
							</a>
						</td>
						<td>BJ</td>
						<td>3</td>
						<td>750</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEG0T1oTG" target="_blank">
								Sales Management Advisor - Japanese/Korean Speaking
							</a>
						</td>
						<td>BJ</td>
						<td>6-7</td>
						<td>1250-2250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEcU21oTI" target="_blank">
								Project Specialist
							</a>
						</td>
						<td>BJ</td>
						<td>6</td>
						<td>1250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEH4s1oTM" target="_blank">
								Incentive Analyst
							</a>
						</td>
						<td>BJ</td>
						<td>4-6</td>
						<td>750-1250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEEG_1fOm" target="_blank">
								Security Specialist
							</a>
						</td>
						<td>BJ</td>
						<td>7</td>
						<td>2250</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}