{% extends "hot/hot.html" %}

{% block core %}
	<div class="blog-post">
		<h2 class="blog-post-title">GTS 火热招聘：咨询/销售/架构</h2>
		<hr>
			<p>
				IBM GTS(全球信息科技服务部)是世界最大的信息科技服务暨咨询提供商, 全球IT服务的领导者。我们的使命是设计,建造,运营,管理IT系统,以支撑全球经济得以正常运行.
			</p>
			<p>
			我们正在经历前所未有的变革时代，人们期待在与各类企业、组织、个人的互动中获得更多的价值！无论是互联网+、工业化4.0，还是移动互联变革、数据驱动的产业变革，系统正以惊人的速度变得更加了解我们；更加了解世界；永不停歇的学习！这些都无法在传统的IT范围内实现。企业级混合IT正在成为人类社会发展的必需。
			</p>
			<p>
			我们的使命是设计、建造、运营和管理IT系统，以支撑全球经济得以正常运行。引领混合IT变革，我们是世界经济发展的支柱！
			</p>
			<p>
			GTS现在招募大批行业领域大拿(架构师\咨询顾问\销售\项目管理)!  奖金丰厚! 赶紧行动吧！
			</p>
	</div>
	<h3>Sales</h3>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Role</th>
						<th>Location</th>
						<th>Band</th>
						<th>Bonus</th>
					</tr>
					<tr>
						<td>Service Client Executive</td>
						<td>BJ</td>
						<td>9-10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>System& Resilience Service Line Sales Representative</td>
						<td>BJ</td>
						<td>9</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Service Client Manager</td>
						<td>BJ</td>
						<td>8</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Service Client Manager </td>
						<td>NJ</td>
						<td>8-9</td>
						<td>3500-5000</td>
					</tr>
					<tr>
						<td>Business Development Manager</td>
						<td>SH</td>
						<td>9-10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Service Client Representative</td>
						<td>SH</td>
						<td>9</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Business Development Manager</td>
						<td>SH</td>
						<td>10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Business Development Manager</td>
						<td>GZ</td>
						<td>9</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Solution Sales</td>
						<td>GZ</td>
						<td>9</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>I&E Service Client Manager  </td>
						<td>GZ/SZ/FZ/XM</td>
						<td>8-9</td>
						<td>3500-5000</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<h3>Consultant</h3>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Role</th>
						<th>Location</th>
						<th>Band</th>
						<th>Bonus</th>
					</tr>
					<tr>
						<td>Airport Consultant</td>
						<td>BJ</td>
						<td>9-10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Cross Service Line consultant</td>
						<td>Cross</td>
						<td>9-10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Cross Service Line consultant</td>
						<td>Cross</td>
						<td>9-10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Cross Service Line consultant</td>
						<td>Cross</td>
						<td>9-10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Banking Consultant  </td>
						<td>SH</td>
						<td>9-10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Banking Consultant  </td>
						<td>Chengdu</td>
						<td>10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Banking Consultant  </td>
						<td>BJ</td>
						<td>10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>System Cloud Consutlant  </td>
						<td>BJ/SH/GZ</td>
						<td>10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Cross Service Line Consultant</td>
						<td>HK</td>
						<td>9-10</td>
						<td>HKD7800</td>
					</tr>
					<tr>
						<td>Resilience Consultant </td>
						<td>HK</td>
						<td>9-10</td>
						<td>HKD7800</td>
					</tr>
					<tr>
						<td>System Consultant</td>
						<td>TW</td>
						<td>10</td>
						<td>NTD25000</td>
					</tr>
					<tr>
						<td>Banking Consultant</td>
						<td>GZ</td>
						<td>9-10</td>
						<td>5000</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<h3>Architect/PM/PE/DPE</h3>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Role</th>
						<th>Location</th>
						<th>Band</th>
						<th>Bonus</th>
					</tr>
					<tr>
						<td>Solutioning Architect</td>
						<td>BJ</td>
						<td>9</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Technical Solution Manager  </td>
						<td>BJ/SH/GZ</td>
						<td>10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Solution Architect-Hybrid Infra  </td>
						<td>SH</td>
						<td>9</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Infrastructure Services Delivery Architect  </td>
						<td>SH</td>
						<td>9-10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Senior Delivery Project Executive</td>
						<td>SH</td>
						<td>9-10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Senior Delivery Project Executive (DPE) </td>
						<td>HK</td>
						<td>9-10</td>
						<td>HKD7800</td>
					</tr>
					<tr>
						<td>Project Manager </td>
						<td>HK</td>
						<td>9-10</td>
						<td>HKD7800</td>
					</tr>
					<tr>
						<td>Project Executive</td>
						<td>GZ</td>
						<td>9</td>
						<td>5000</td>
					</tr>
				</tbody>
			</table>
		</div>
	<h3>综合</h3>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Title</th>
						<th>Location</th>
						<th>Language</th>
						<th>Band</th>
						<th>Bonus</th>
					</tr>
					<tr>
						<td>Consulting IT Specialist (Marinframe platform) </td>
						<td>GZ</td>
						<td>CN/EN</td>
						<td>9</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Banking Consultant</td>
						<td>GZ</td>
						<td>CN/EN</td>
						<td>10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Solution Sales</td>
						<td>GZ</td>
						<td>CN/EN</td>
						<td>9</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>I&E Service Client Manager </td>
						<td>GZ/SZ/FZ/XM</td>
						<td>CN/EN</td>
						<td>8-9</td>
						<td>3500-5000</td>
					</tr>
					<tr>
						<td>I/T Specialist</td>
						<td>BJ</td>
						<td>CN/EN</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>Service Client Manager</td>
						<td>ZJ</td>
						<td>CN/EN</td>
						<td>8-9</td>
						<td>3500-5000</td>
					</tr>
					<tr>
						<td>Business Development Executive</td>
						<td>BJ/SH/GZ</td>
						<td>CN/EN</td>
						<td>10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Service Client Executive</td>
						<td>BJ</td>
						<td>CN/EN</td>
						<td>9-10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Business Development Executive</td>
						<td>BJ/SH/GZ</td>
						<td>CN/EN</td>
						<td>10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>System& Resilience Service Line Sales Representative </td>
						<td>BJ</td>
						<td>CN/EN</td>
						<td>9</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Airport Consultant</td>
						<td>BJ</td>
						<td>CN/EN</td>
						<td>9-10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Cross Service Line consultant</td>
						<td>Any</td>
						<td>CN/EN</td>
						<td>9-10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>Service Client Manager</td>
						<td>BJ</td>
						<td>CN/EN</td>
						<td>8</td>
						<td>5000</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}