{% extends "hot/hot.html" %}

{% block core %}
	<div class="blog-post">
		<h2 class="blog-post-title">GTS 火热招聘：咨询/销售/架构</h2>
		<hr>
		<p>
			IBM GTS(全球信息科技服务部)是世界最大的信息科技服务暨咨询提供商, 全球IT服务的领导者。我们的使命是设计,建造,运营,管理IT系统,以支撑全球经济得以正常运行.
		</p>
		<p>
		我们正在经历前所未有的变革时代，人们期待在与各类企业、组织、个人的互动中获得更多的价值！无论是互联网+、工业化4.0，还是移动互联变革、数据驱动的产业变革，系统正以惊人的速度变得更加了解我们；更加了解世界；永不停歇的学习！这些都无法在传统的IT范围内实现。企业级混合IT正在成为人类社会发展的必需。
		</p>
		<p>
		我们的使命是设计、建造、运营和管理IT系统，以支撑全球经济得以正常运行。引领混合IT变革，我们是世界经济发展的支柱！
		</p>
		<p>
		GTS现在招募大批行业领域大拿(架构师\咨询顾问\销售\项目管理)!  奖金丰厚! 赶紧行动吧！
		</p>
	</div>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Title</th>
						<th>Location</th>
						<th>Language</th>
						<th>Band</th>
						<th>Bonus</th>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEXZQ1oRV" target="_blank">
								Cloud SME
							</a>
						</td>
						<td>BJ</td>
						<td>CN/EN</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEbjq1fKi" target="_blank">
								Consulting IT Specialist (Marinframe platform)
							</a>
						</td>
						<td>GZ</td>
						<td>CN/EN</td>
						<td>9</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE19M1fKo" target="_blank">
								Solution Sales
							</a>
						</td>
						<td>GZ</td>
						<td>CN/EN</td>
						<td>9</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEMeN1fKv" target="_blank">
								Business Development Executive
							</a>
						</td>
						<td>BJ/SH/GZ</td>
						<td>CN/EN</td>
						<td>10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE9gV1fKx" target="_blank">
								Service Client Executive
							</a>
						</td>
						<td>BJ</td>
						<td>CN/EN</td>
						<td>9-10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE4yE1fL0" target="_blank">
								Business Development Executive
							</a>
						</td>
						<td>BJ/SH/GZ</td>
						<td>CN/EN</td>
						<td>10</td>
						<td>5000</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEwPm1fL2" target="_blank">
								System& Resilience Service Line Sales Representative
							</a>
						</td>
						<td>BJ</td>
						<td>CN/EN</td>
						<td>9</td>
						<td>5000</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}