{% extends "base.html" %}

{% block sidebar %}
	{% include "hot/hot_sidebar.html" %}
{% endblock %}

{% block content %}
<div class="col-sm-8 blog-main">
	<div id="blog-container">
	{% include "navigation_modal.html" %}
{% block core %}
		<div class="blog-post">
			<h2 class="blog-post-title">IBM热招职位</h2>
			<hr>
				<p>
			这里展示是IBM内部发布的招聘信息，这些职位大多是因公司战略调整而开放的，招聘人数较多，奖金也更为丰厚。
				</p>
				<p>
			如果要申请这些热招职位，您可以直接点击职位名称链接，跳转到职位详情页面进行申请。
				</p>
		</div>
{% endblock %}
	</div>
    		{% include "footer.html" %}
</div>
{% endblock %}