<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li class="group active">
			<a href="/hot/">热招职位</a>
		</li>
		<li {% if sub == 'openpower' %}class="current"{% endif %}>
			<a href="/hot/openpower/">OpenPOWER工程师</a>
		</li>
		<li {% if sub == 'rnd' %}class="current"{% endif %}>
			<a href="/hot/rnd/">R&D</a>
		</li>
		<li {% if sub == 'snd' %}class="current"{% endif %}>
			<a href="/hot/snd/">S&D</a>
		</li>
		<li {% if sub == 'gts' %}class="current"{% endif %}>
			<a href="/hot/gts/">GTS</a>
		</li>
		<li {% if sub == 'cio' %}class="current"{% endif %}>
			<a href="/hot/cio/">CIO</a>
		</li>
		<li {% if sub == 'gie' %}class="current"{% endif %}>
			<a href="/hot/gie/">GIE</a>
		</li>
		<li {% if sub == 'gbs' %}class="current"{% endif %}>
			<a href="/hot/gbs/">GBS</a>
		</li>
		<li {% if sub == 'digital_sales' %}class="current"{% endif %}>
			<a href="/hot/digital_sales/">Digital Sales</a>
		</li>
		<li {% if sub == 'sales' %}class="current"{% endif %}>
			<a href="/hot/sales/">销售部门</a>
		</li>
	</ul>
</div>