{% extends "hot/hot.html" %}

{% block core %}
<div class="blog-post">
	<h2 class="blog-post-title">2015 OpenPOWER 火热招募！奖金翻倍！</h2>
	<hr>
		<p>
			OpenPOWER基金会基于POWER系统平台，由谷歌、IBM、Mellanox科技公司、NVIDIA和泰安计算机于2013年8月联合倡导成立， 将POWER硬、软件用于开源开发，同时向其它厂商开放POWER知识产权许可。OpenPOWER基金会汇集顶尖科技人才，共同推广为计算机数据中心设计的开放服务器体系结构。目前已经在22个国家拥有130多个企业、组织和个人会员。IBM的POWER架构是OpenPOWER基金会创新的基石，为业界提供即时可用的计算平台。
		</p>
		<p>
			中国成员目前已经超过20个，数量还在迅速扩充：浪潮集团、中兴通讯、北京创和世纪, 无锡中太、华胜天成、新云东方、苏州中晟宏芯 等等。让更多的中国企业能够利用POWER技术，实现从芯片设计制造、整机设计制造到解决方案开发的全产业链打通。
		</p>
		<p>
			从芯片到整机到软件服务，OpenPOWER基金会的所有成员公司分别关注在多个不同的层面，具体包括：Chip、SOC领域、主板及系统领域、I/O、存储、加速领域、整机系统、软件、服务领域。
		</p>
		<div class="img_wrapper">
			<img src="/static/images/openpower.png" alt="..." class="img-rounded center-block img-responsive">
		</div>
		<p> 
			随着OpenPOWER生态链的不断扩张，IBM OpenPOWER 团队成绩斐然，迅速壮大。此次又有一批新增职位：高性能芯片开发，服务器，OS，数据库，云，大数据，Java等各个领域的人才都频频告急。
			<strong>招聘目标50+！</strong>
		</p>
		<p>
			作为IBM High Performance Processor Design Center，我们一直拥有高性能芯片开发的核心技术。随着OpenPOWER 芯片构架的开放及更有力的全球技术支持，我们的技术能力将获得更大提升。此次诚聘高精尖团队，打造高端服务器研发特种部队。
		</p>
		<p>
			大招聘持续火热，快来加入我们
		</p>
		<div class="alert alert-info" role="alert">
			<p>注意！申请本页职位成功可获得
				<strong>双倍奖金！</strong>您将获得的具体奖金如下：
			</p>
			<p>Band7职位：4500元</p>
			<p>Band8职位：7000元</p>
			<p>Band9,10职位：10000元</p>
		</div>
</div>
<div class="hot-table">
	<div class="table-responsive">
		<table class="table table-striped job-table">
			<tbody>
				<tr>
					<th class="table-job-title">Job Title</th>
					<th>Band</th>
					<th>Location</th>
				</tr>
				<tr>
					<td>
						<a href="http://rfer.us/IBEpe11afr" target="_blank">
								OpenPOWER System Engineer
						</a>
					</td>
					<td>7-9</td>
					<td>SH/BJ/TW</td>
				</tr>
				<tr>
					<td>
						<a href="http://rfer.us/IBEKlY1afu" target="_blank">
								OpenPOWER Firmware Development Engineer
						</a>
					</td>
					<td>7-9</td>
					<td>SH/BJ/TW</td>
				</tr>
				<tr>
					<td>
						<a href="http://rfer.us/IBEpr61afx" target="_blank">
								OpenPOWER Performance Analyst
						</a>
					</td>
					<td>7-9</td>
					<td>SH/BJ/TW</td>
				</tr>
				<tr>
					<td>
						<a hre="http://rfer.us/IBEgOl1ag0" target="_blank">
								OpenPOWER Senior Solution Architect for IBM
						</a>
					</td>
					<td>9-10</td>
					<td>SH/BJ</td>
				</tr>
				<tr>
					<td>
						<a href="http://rfer.us/IBEFhC1ag2" target="_blank">
								Linux Software Engineer for OpenPOWER
						</a>
					</td>
					<td>6-8</td>
					<td>SH/BJ</td>
				</tr>
				<tr>
					<td>
						<a href="http://rfer.us/IBEa7Z1ag4" target="_blank">
								High Performance Processor Development Manager
						</a>
					</td>
					<td>8-9</td>
					<td>SH/BJ</td>
				</tr>
				<tr>
					<td>
						<a href="http://rfer.us/IBEBhQ1ag5" target="_blank">
								High Performance Processor Development Engineer
						</a>
					</td>
					<td>7-9</td>
					<td>SH/BJ</td>
				</tr>
			</tbody>
		</table>
	</div>
</div><!-- /.blog-post -->
{% endblock %}