{% extends "hot/hot.html" %}

{% block core %}
	<div class="blog-post">
		<h2 class="blog-post-title">R&D</h2>
		<hr>
	</div>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Title</th>
						<th>Location</th>
						<th>Band</th>
						<th>Bonus</th>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE4Mc1nb4" target="_blank">
								QSE Staff
							</a>
						</td>
						<td>BJ</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEKMl1nbC" target="_blank">
								Research Scientist
							</a>
						</td>
						<td>BJ</td>
						<td>8-9</td>
						<td>7000-10000</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEtF21nbE" target="_blank">
								IT Security Management Professional
							</a>
						</td>
						<td>BJ</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEQMK1fMl" target="_blank">
								Watson Health - Data/Corpus developer
							</a>
						</td>
						<td>BJ</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEtah1oSH" target="_blank">
								IOS Mobile Developer
							</a>
						</td>
						<td>BJ</td>
						<td>6</td>
						<td>1250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEp731oSL" target="_blank">
								Front-End Developer
							</a>
						</td>
						<td>SH/NB</td>
						<td>6</td>
						<td>1250-3750</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEANK1fMo" target="_blank">
								Senior Solution Developer
							</a>
						</td>
						<td>NB</td>
						<td>6</td>
						<td>3750</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEANK1fMo" target="_blank">
								Senior Project Manager for OpenPOWER AE Team
							</a>
						</td>
						<td>BJ/SH</td>
						<td>8-9</td>
						<td>7000</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEotm1fMs" target="_blank">
								IBM OpenPOWER System Engineer
							</a>
						</td>
						<td>BJ/SH</td>
						<td>8-9</td>
						<td>7000</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBExRp1fMt" target="_blank">
								OpenPOWER Firmware Development Engineer
							</a>
						</td>
						<td>BJ/SH</td>
						<td>8-9</td>
						<td>7000</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEBih1oST" target="_blank">
								Cloud MobileFirst L2 Support
							</a>
						</td>
						<td>BJ</td>
						<td>6</td>
						<td>1250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEc881oSV" target="_blank">
								Smart Process L2 Technical Support Engineer
							</a>
						</td>
						<td>SH</td>
						<td>6</td>
						<td>1250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEDcN1fN6" target="_blank">
								High Performance Processor Development Manager
							</a>
						</td>
						<td>BJ/SH</td>
						<td>8-9</td>
						<td>7000-10000</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEuMD1fN7" target="_blank">
								High Performance Processor Development Enigneer
							</a>
						</td>
						<td>BJ/SH</td>
						<td>8-9</td>
						<td>7000-10000</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEb741oSm" target="_blank">
								Technical Support Professional
							</a>
						</td>
						<td>BJ</td>
						<td>7</td>
						<td>2250</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}