{% extends "hot/hot.html" %}

{% block core %}
	<div class="blog-post">
		<h2 class="blog-post-title">销售部门热招CAMSS相关销售代表和顾问</h2>
		<hr>
			<p>
			IBM销售部门涵盖了Systems, Cloud, Analytics, Security, Watson, Commerce, Healthcare, EBU和Digital Sales等精英销售团队，致力于对不同行业、区域和重点客户提供IBM最尖端的产品、技术解决方案以及服务。 
			</p>
			<p>
			现在热招CAMSS相关销售代表和顾问，欢迎您加入我们，同时您还能赢取丰厚奖金！
			</p>
	</div>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Title</th>
						<th>Location</th>
						<th>Band</th>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEifJ1eUI" target="_blank">
								Hadoop Client Technical Specialist
							</a>
						</td>
						<td>Guangzhou/Shenzhen</td>
						<td>7-8</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEWQM1eUM" target="_blank">
								Hadoop Sales
							</a>
						</td>
						<td>Guangzhou/Shenzhen</td>
						<td>7-8</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBExA_1eUU" target="_blank">
								Analytics Solution Consultative Sales
							</a>
						</td>
						<td>Beijing</td>
						<td>9</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEDNZ1eUa" target="_blank">
								Analytics Solution Consultative Sales
							</a>
						</td>
						<td>Beijing</td>
						<td>9</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE6At1eUc" target="_blank">
								Senior Cloud Advisor
							</a>
						</td>
						<td>Beijing</td>
						<td>9-10</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEIgE1eUj" target="_blank">
								Marketing Solution Sales
							</a>
						</td>
						<td>Shanghai/Guangzhou/Shenzhen</td>
						<td>7</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEN7D1eUx" target="_blank">
								Specialty SSR
							</a>
						</td>
						<td>Shanghai</td>
						<td>7-8</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEE6w1eV1" target="_blank">
								Global Security Consultant
							</a>
						</td>
						<td>Hong Kong</td>
						<td>9-10</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEBzK1eV6" target="_blank">
								Hadoop Sales Specialist
							</a>
						</td>
						<td>Hong Kong</td>
						<td>8</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEwzX1eVM" target="_blank">
								IT Specialist for Cloud (Solution Delivery)
							</a>
						</td>
						<td>Taipei</td>
						<td>6-7</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEfgZ1eVU" target="_blank">
								Analytics Solution Sales
							</a>
						</td>
						<td>Taipei</td>
						<td>8</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEMt81eVa" target="_blank">
								Hadoop Sales Specialist
							</a>
						</td>
						<td>Taipei</td>
						<td>8</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}