{% extends "hot/hot.html" %}

{% block core %}
	<div class="blog-post">
		<h2 class="blog-post-title">销售部门热招CAMSS相关销售代表和顾问</h2>
		<hr>
			<p>
			IBM销售部门涵盖了Systems, Cloud, Analytics, Security, Watson, Commerce, Healthcare, EBU和Digital Sales等精英销售团队，致力于对不同行业、区域和重点客户提供IBM最尖端的产品、技术解决方案以及服务。 
			</p>
			<p>
			现在热招CAMSS相关销售代表和顾问，欢迎您加入我们，同时您还能赢取丰厚奖金！
			</p>
	</div>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Title</th>
						<th>Location</th>
						<th>Band</th>
					</tr>
					<tr>
						<td>Hadoop Client Technical Specialist</td>
						<td>Guangzhou/Shenzhen</td>
						<td>7-8</td>
					</tr>
					<tr>
						<td>Hadoop Sales</td>
						<td>Guangzhou/Shenzhen</td>
						<td>7-8</td>
					</tr>
					<tr>
						<td>Consultative Sales</td>
						<td>Beijing</td>
						<td>9</td>
					</tr>
					<tr>
						<td>Consultative Sales</td>
						<td>Beijing</td>
						<td>9</td>
					</tr>
					<tr>
						<td>Senior Cloud Advisor</td>
						<td>Beijing</td>
						<td>9-10</td>
					</tr>
					<tr>
						<td>Marketing Solution Sales</td>
						<td>Shanghai/Guangzhou/Shenzhen</td>
						<td>7</td>
					</tr>
					<tr>
						<td>Senior Sales Specialist</td>
						<td>Beijing/Shanghai</td>
						<td>8</td>
					</tr>
					<tr>
						<td>Senior Sales Specialist</td>
						<td>Beijing/Shanghai</td>
						<td>8</td>
					</tr>
					<tr>
						<td>Commerce Solution Sales</td>
						<td>Shanghai/Nanjing/Hangzhou</td>
						<td>7</td>
					</tr>
					<tr>
						<td>Specialty SSR</td>
						<td>Shanghai</td>
						<td>7-8</td>
					</tr>
					<tr>
						<td>Cloud Advisor</td>
						<td>Hong Kong</td>
						<td>8-10</td>
					</tr>
					<tr>
						<td>Global Security Consultant</td>
						<td>Hong Kong</td>
						<td>9-10</td>
					</tr>
					<tr>
						<td>Cloud Service Sales Specialist</td>
						<td>Hong Kong</td>
						<td>8</td>
					</tr>
					<tr>
						<td>Hadoop Sales Specialist</td>
						<td>Hong Kong</td>
						<td>8</td>
					</tr>
					<tr>
						<td>Cloud Advisor</td>
						<td>Taipei</td>
						<td>9</td>
					</tr>
					<tr>
						<td>Analytics Solution Sales</td>
						<td>Taipei</td>
						<td>8</td>
					</tr>
					<tr>
						<td>Hadoop Sales Specialist </td>
						<td>Taipei</td>
						<td>8</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}