{% extends "hot/hot.html" %}

{% block core %}
	<div class="blog-post">
		<h2 class="blog-post-title">S&D</h2>
		<hr>
	</div>
	<div class="hot-table">
		<div class="table-responsive">
			<table class="table table-striped job-table">
				<tbody>
					<tr>
						<th width="60%">Job Title</th>
						<th>Location</th>
						<th>Band</th>
						<th>Bonus</th>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE_WR1fP8" target="_blank">
								Inside Sales (for HK, Cantonese Speaking)
							</a>
						</td>
						<td>SZ</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEqaT1fPA" target="_blank">
								Hadoop Sales
							</a>
						</td>
						<td>GZ/SZ</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE_5j1fPC" target="_blank">
								Hadoop Client Technical Specialist
							</a>
						</td>
						<td>GZ/SZ</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEwPr1fPD" target="_blank">
								Mac@IBM Apple Advisor
							</a>
						</td>
						<td>BJ/SZ</td>
						<td>6</td>
						<td>1250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE_2p1fPF" target="_blank">
								Senior Client Representative (for Banking) 
							</a>
						</td>
						<td>GZ</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEMxP1fPH" target="_blank">
								Senior Client Representative (for Banking) 
							</a>
						</td>
						<td>SZ</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEoyt1fPK" target="_blank">
								Client Technical Specialist 
							</a>
						</td>
						<td>CD</td>
						<td>7-8</td>
						<td>2250-3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEUFr1fPN" target="_blank">
								Marketing Solution Sales
							</a>
						</td>
						<td>SH/GZ/SZ</td>
						<td>7</td>
						<td>2250</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBEBQ31fPP" target="_blank">
								Analytics Client Architect 
							</a>
						</td>
						<td>CD</td>
						<td>8</td>
						<td>3500</td>
					</tr>
					<tr>
						<td>
							<a href="http://rfer.us/IBE_fn1fPQ" target="_blank">
								Big data senior sales
							</a>
						</td>
						<td>SH</td>
						<td>8</td>
						<td>3500</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}