{% extends "base.html" %}

{% block sidebar %}
	{% include "market/market_sidebar.html" %}
{% endblock %}

{% block content %}
<div class="col-sm-8 blog-main">
	<div id="blog-container">
{% block core %}
		<div class="blog-post">
			<h2 class="blog-post-title">内推职位市场</h2>
			<hr>
				<p>
			这里会发布除了IBM以外，其他一些公司的内推职位信息，供有需要的游客参考。
				</p>
				<p>
			如果您也了解一些内推职位信息并且愿意分享，请将尽可能详尽的职位信息通过<a href='/help/contact/'>邮件</a>形式发送给我们，我们会在这里发布出来，
				</p>
		</div>
{% endblock %}
	</div>
    		{% include "footer.html" %}
</div>
{% endblock %}