{% extends "market/market.html" %}

{% block core %}
	<div class="blog-post">
		<h2 class="blog-post-title">职位汇总</h2>
		<hr>
		<h3 name="bonus">腾讯</h3>
		<p>
			请在<a href="http://t.cn/zOUVeDw" target="_blank">社招网站</a>或<a href="http://join.qq.com" target="_blank">校招网站</a>上寻找心仪职位，然后发送简历至danruodeng@tencent.com
		</p>
		<h3 name="bonus">百度外卖</h3>
		<p>
			职位包含产品、研发、设计、市场、BD等，发送简历至fuyu@iwaimai.baidu.com
		</p>
		<h3 name="bonus">阿里巴巴</h3>
		<p>
			职位包含产品、运营、研发、设计等，发送简历至renyue.ry@alibaba-inc.com
		</p>
		<h3 name="bonus">拜克洛克</h3>
		<p>
			Boss直聘，职位包含嵌入式、硬件工程师、移动产品经理、设计师、Java工程师、工业设计、Android和iOS客户端工程师等。有意者请点击<a href="http://t.cn/RUoYrwT" target="_blank">链接</a>。
		</p>
	</div><!-- /.blog-post -->
{% endblock %}