<div class="jumbotron" id="billboard">
	<button type="button" class="close" aria-hidden="true">&times;</button>
	<div class="alert alert-info" role="alert" id="phone_hint">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		手机端浏览时某些链接可能会被屏蔽或误报，推荐使用电脑浏览。
	</div>
	<h1>自助内推，赢取奖金!</h1>
	<p>选择职位 > 申请职位 > 应聘成功 > 获得最高万元奖金！</p>
	<p>推荐优先选择热招页面的职位，申请成功概率更高，奖金也更为丰厚！</p>
	<p class="billboard_button_wrapper">
		<a class="btn btn-primary btn-lg" href="/help/" role="button">内推指南</a>
		<a class="btn btn-danger btn-lg" href="/hot/" role="button">热招职位</a>
	</p>
</div>