<div class="jumbotron" id="billboard">
	<button type="button" class="close" aria-hidden="true">&times;</button>
	<div class="alert alert-info" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		查找微信公众号“遥控星星”，查看历史消息，在朋友圈分享推广页面，即可获取5元红包
	</div>
	<h1>自助内推，赢取奖金!</h1>
	<p>选择职位 > 申请职位 > 应聘成功 > 获得最高万元奖金！</p>
	<p class="billboard_button_wrapper">
		<a class="btn btn-primary btn-lg" href="/help/" role="button">内推指南</a>
		<a class="btn btn-danger btn-lg" href="/hot/" role="button">热招职位</a>
	</p>
</div>