<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">申请须知</h3>
      </div>
      <div class="modal-body">
      	<p>
      		您即将被导航至IBM官方招聘网站。职位详情页面打开后，请仔细阅读职位描述、申请要求等信息，以辨别您是否适合该职位。
      	</p>
      	<p>
      		确定要申请该职位后，请依照提示，按步骤提交您的个人信息，届时您会需要申请一个账号，上传简历并回答一些问题。<strong><code>请务必完成完整的申请流程，否则您的申请不会被正式提交</code></strong>。
      	</p>
      	<p>
      		申请完毕后，请将简历、自荐信息发送至<a href="mailto:zzbj@cn.ibm.com">zzbj@cn.ibm.com</a>，并注明所申请的职位，我们会将您推荐给对应的HR或招聘经理。
      	</p>
      </div>
      <div class="modal-footer">
    <div class="checkbox-inline">
      <label>
        <input type="checkbox" id="never_show">不再显示
      </label>
    </div>
        <button type="button" class="btn btn-default" data-dismiss="modal" id='modal_close_button'>确定</button>
      </div>
    </div>
  </div>
</div>
