<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">申请须知</h4>
      </div>
      <div class="modal-body">
      	<p>
      		您即将打开IBM官方招聘网站的职位详情页面，该页面的链接中包含推荐人信息，从而确保您能以内推身份进入后面的申请流程。
      	</p>
      	<p>
      		确定要申请该职位后，请点击<img src="/static/images/apply_button.png" alt="..." class="modal_img img-rounded center-block img-responsive">按钮，在弹出的对话框中填写姓名和邮箱地址，之后点击<img src="/static/images/start_button.png" alt="..." class="modal_img img-rounded center-block img-responsive">按钮。
      	</p>
      	<p>
      		之后，您还需要依照提示，按步骤提交您的个人信息，届时您可能需要申请一个账号并上传简历。<strong>只有这些步骤全部完成后，您的申请才会被正式提交</strong>。
      	</p>
      	<p>
      		如果申请过程中您遇到了任何问题，都欢迎随时<a href='/help/contact/' target='_blank'>联系我们</a>，我们会尽量在第一时间为您解答。
      	</p>
      </div>
      <div class="modal-footer">
    <div class="checkbox-inline">
      <label>
        <input type="checkbox" id="never_show">不再显示
      </label>
    </div>
        <button type="button" class="btn btn-default" data-dismiss="modal" id='modal_close_button'>确定</button>
      </div>
    </div>
  </div>
</div>