<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
      <li class="group active"><a>筛选职位</a></li>
  </ul>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownButtonLocation" data-toggle="dropdown" data-value>
	       工作地址
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" id="dropdownListLocation">
	  </ul>
	</div>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownButtonCategory" data-toggle="dropdown" data-value>
	       岗位类别
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" id="dropdownListCategory">
	  </ul>
	</div>
	<div>
      <form class="search_box">
        <input type="text" id="search_input" class="form-control" placeholder="关键字">
        <button type="submit" id="search_button" class="btn btn-default" placeholder="关键字">查询</button>
        <button type="submit" id="clear_button" class="btn btn-default" placeholder="关键字">清空</button>
      </form>
    </div>
</div>